body {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.text {
    padding: 1rem;
    margin: 0;
    color: red;
}



